.card, .card-title, .card-body, .card-footer{
    border: 1px solid darkgrey;
    
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid darkgrey;
    width: 20vw;
    height: 30vh;
    margin: 2%;
    border-radius: 10px;
}

.card-title{
    display: flex;
    justify-content: center;
}
